@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="logo"><img src="/img/logo.png" /> Rich Stokoe</p>
    <h1 class="display-4">Welcome to Better .NET Templates</h1>
    <p>Contribute &amp; source code on Github: <a href="https://github.com/richstokoe/better-dotnet-templates">richstokoe/better-dotnet-templates</a></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
